@import 'variabili.scss';

.test{
    height: 550px;
    width: 100%;
    background-image: url('../assets/pexels-aleksandar-pasaric-325185.jpg');
    background-position: center;
    .container{
        h1{
            padding-top: 100px;
        }
        button{
            background-color: $primary_blu;
        }
    }
}
.for-col{
    padding-top: 40px;
    max-width: 100%;
    margin: 0;
    background-color: $primary_gray;
    div{
        width: 300px;
        
        i{
            font-size: 3em;
        }
    }
}
.partner{
    div{
        img{
            max-width: 15%;
        }
    }
}
.opinioni{
    text-align: center;
    margin-bottom: 100px;
    h2{
        margin-bottom: 80px;
    }
    .carousel-inner{
        .carousel-item{
            img{
                max-width: 15%;
                border-radius:50% ;
            }
        }
    }
}