$primary_blu: rgb(134, 74, 255);
$primary_gray: rgba(145, 145, 145, 0.1);
$bg-dark:rgb(91, 91, 91);
$bg-bright:#fff;
@mixin back {
    @if $template == dark{
        background-color: $bg-dark;
        color: $bg-bright;
        nav{
            background-color: rgb(66, 0, 99);
        }
        footer{
            background-color: rgb(66, 0, 99);
        }
    }
    @if $template == bright{
        background-color: $bg-bright;
        color: $bg-dark;
    }
}