// definire i mixins per i due maggiori breakpoint mobile e tablet

// breakpoint è una variabile che può avere diversi valori
@mixin devices ($breakpoint) {
    @if $breakpoint == tablet{
        @media only screen and (max-width: 680px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media only screen and (max-width: 481px) {
            @content;
        }
    }
}

//gestisco il respondive
.responsive {
    background-color: yellow;

    @include devices(tablet) {
        background-color: lightblue;
        //codice per tablet
    }
    @include devices(mobile) {
        background-color: aquamarine;
        //codice per mobile
    }

}