/*Impostazioni Generali*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
html {
    scroll-behavior: smooth;
}
body{
    width: 100%;
    box-sizing: border-box;
}

/*Impostazione Header*/
header {
    position: fixed;
	left: 0;
	top: 0;
    width: 100%;
	text-align: center;
	padding: 10px ;
	margin: 0 0px;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.300);
	background-color: black;
}
.logofixed img{
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}
/*Fine Header*/

/*Impostazioni Main*/
.secondheader {
    margin-top: 15%;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    text-align: center;
    padding: 20px;
    padding-bottom: 35px;
}
.secondheader h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    line-height: 50px;
    padding-top: 40px;
}
.secondheader a {
    background-color: orange;
    color: white;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.secondheader p {
    margin-bottom: 20px;
    margin-top: 20px;
}
.partecentrale {
    display: block;
    margin-top: 40px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.partecentrale div {
    width: 100%;
}
.partecentrale div img {
    border-radius: 50%;
    max-width: 80%;  
    margin-bottom: 20px; 
}
.partecentrale h3 {
    margin-bottom: 5px;
}
.partecentrale p {
    margin-bottom: 30px;
}
/*Fine*/

/*Sezione garantisce*/
.Garantisce {
    background-color: rgb(226, 45, 14);
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
}
.Garantisce h2 {
    color: white;
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 20px;
}
.Garantisce p {
    font-style: italic;
    margin-bottom: 15px;
}
.Garantisce div p {
    font-size: 0.8em;
}
/*Fine*/

/*Impostazioni Footer*/
.articoli {
    text-align: center;
}
.articoli a {
    text-decoration: none;
    color: black;
}
.articoli a p {
    font-size: 0.8em;
    padding: 10px;
}

.articoli div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee1e3;
    width: 80%;
    box-shadow: 2px 2px 4px rgba(226, 45, 14,0.3);
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.articoli div img {
    width: 100%;
}
.footer {
    background-color: #25a2c3;
    text-align: center;
    padding: 20px;
}
.footer h3{
    color: white;
    font-size: 1.3em;

}
.footer p {
    font-size: 0.7em;
    color: #c8e7f0;
}
.footer p a {
    color: #c8e7f0;
}
.footer i {
    margin-right: 4px;
}
/*Fine*/

.torna-su {
  position: fixed;
  bottom: 20px;      
  margin-left:90%; 
  text-decoration: none;
  padding: 5px;
  color: white;
  background-color: rgb(128, 128, 128, 0.6);
  border-radius: 10px;
  font-size: 0.5em;
}
